*.xml
*.log
.php_cs.cache
.php-cs-fixer.cache
/vendor/*
!/vendor/totpsclasslib
!/vendor/.htaccess
node_modules
!/202/build.xml
!/202/phpunit.xml
*.map
views/js/*
views/css/*
views/manifest.json
views/_dev/node_modules