<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright since 2022 Axeptio
  ~
  ~ NOTICE OF LICENSE
  ~
  ~ This source file is subject to the Academic Free License (AFL 3.0)
  ~ that is bundled with this package in the file LICENSE.md.
  ~ It is also available through the world-wide-web at this URL:
  ~ https://opensource.org/licenses/AFL-3.0
  ~ If you did not receive a copy of the license and are unable to
  ~ obtain it through the world-wide-web, please send an email
  ~ to tech@202-ecommerce.com so we can send you a copy immediately.
  ~
  ~ @author    202 ecommerce <tech@202-ecommerce.com>
  ~ @copyright 2022 Axeptio
  ~ @license   https://opensource.org/licenses/AFL-3.0  Academic Free License (AFL 3.0)
  -->

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         verbose="true"
         convertNoticesToExceptions="false"
         bootstrap="phpunit_bootstrap.php">
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
        <env name="TEST_ID_PROJECT" value="62500feea925ec04460954a9" />
        <env name="TEST_ID_CONFIGURATION" value="62500fefea9774f707035148" />
    </php>
    <testsuites>
        <testsuite name="axeptiocookies">
            <directory suffix=".php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
<!--    <logging>-->
<!--        <log type="coverage-clover" target="build/clover.xml"/>-->
<!--    </logging>-->
</phpunit>